<title>Better performer</title>
<body>
    <form action="/" method="POST">

        <input type="text" name="user1" placeholder="first user" >
        <input type="text" name="user2" placeholder="second user" >
        <button type="submit"> submit</button>
    </form>
</body>
