.center{
    
    margin-top: 20%;
    padding: 5%;
    color:mediumturquoise;
   
}
.homediv{
    text-align: center;
    margin:10% 35%;
    
}
.btn-center{
    margin:0% 200%;
}
.maindiv{
    background-color:aliceblue ;
}
.bruh{
    background-color:#fdf9f3;
}